// #######################################
//      VARIABLES
// #######################################

$background: rgb(220, 220, 220);
$text: rgb(58, 58, 58);
$link: rgba(0, 106, 177, 0.75);

$background-dark: rgb(20, 20, 20);
$text-dark: rgb(230, 230, 230);
$link-dark: rgba(0, 153, 255, 0.75);

$font-size: 18px;
$line-height: 22px;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: $font-size;
}

body {
    user-select: none;
    height: 100%;
    width: 100%;

    overflow: hidden;

    font-family: "Montserrat", "Helvetica", "Verdana", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    width: 100%;
    background-color: $background;
    color: $text;

    .dark & {
        background-color: $background-dark;
        color: $text-dark;
    }
}

.app {
    position: relative;
    height: 100%;
    width: 100%;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .cell {
        position: absolute;
    }
}

.landing {
    position: relative;
    height: 100%;
    width: 100%;

    .section {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .glass {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 70%;
            width: 90%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 75%);
            background-clip: padding-box;
            background-position: 50px -150px;
            border: solid 2px transparent;
            backdrop-filter: blur(5px);
            @include box-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
            @include border-radius(20px);

            .backButton {
                position: absolute;
                height: 4rem;
                max-height: 4rem;
                min-height: 4rem;
                width: 4rem;
                max-width: 4rem;
                min-width: 4rem;
                top: 0;
                left: 0;
                opacity: 0.7;
                padding: 1.2rem;

                path {
                    fill: white !important;
                }
            }

            .logo {
                width: 50%;
                z-index: 1;
                margin: 15% 0 25% 0;
                @include animation(heartbeat 3s linear infinite);

                @keyframes heartbeat {
                    58% {
                        transform: scale(1);
                    }
                    63% {
                        transform: scale(1.1);
                    }
                    68% {
                        transform: scale(1);
                    }
                    70% {
                        transform: scale(1);
                    }
                    75% {
                        transform: scale(1.1);
                    }
                    80% {
                        transform: scale(1);
                    }
                }

                &.small {
                    width: 25%;
                    margin: 15% 0 15% 0;
                }
            }

            .button {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 85%;
                z-index: 1;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%);
                background-position: 50px -150px;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 8%;
                border: solid 2px transparent;
                border: 0;
                outline: none;
                padding: 4%;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                backdrop-filter: blur(6px);
                @include box-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
                @include border-radius(500px);
                @include transition(transform 0.2s ease-in-out);

                &:active {
                    transform: scale(1.05);
                }

                &.login {
                    background: transparent;
                    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 75%);
                    color: white;
                    margin-bottom: 15%;
                }

                &.last {
                    margin-bottom: 5%;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .inputContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 85%;
                    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 75%);
                    background-position: 50px -150px;
                    margin: 0 5%;
                    margin-bottom: 8%;
                    border: solid 2px transparent;
                    padding: 4%;
                    backdrop-filter: blur(6px);
                    @include box-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
                    @include border-radius(500px);

                    .inputIcon {
                        height: 1rem;
                        max-height: 1rem;
                        min-height: 1rem;
                        width: 1rem;
                        max-width: 1rem;
                        min-width: 1rem;
                        opacity: 0.5;
                        margin-right: 0.4rem;

                        path {
                            fill: white !important;
                        }

                        &.email {
                            height: 1.05rem;
                            max-height: 1.05rem;
                            min-height: 1.05rem;
                            width: 1.05rem;
                            max-width: 1.05rem;
                            min-width: 1.05rem;
                        }
                    }

                    .input {
                        display: flex;
                        align-items: center;
                        background: none;
                        color: white;
                        border: 0;
                        outline: none;
                        font-size: 1rem;

                        @include inputPlaceholder() {
                            color: white;
                            opacity: 0.7;
                        }
                    }
                }

                .error {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.7em;
                    width: 85%;
                    color: rgb(146, 0, 0);
                    margin-bottom: 5%;
                    font-size: 0.8em;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
}

// Autofill color
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    box-sizing: border-box;
    width: inherit;
    border: 0px solid rgba(255, 255, 255, 0);
    -webkit-text-fill-color: white;
    transition: background-color 10000s;
    border-radius: 1000px;
    padding: 0 10px;
}
