// #######################################
//      VARIABLES
// #######################################

$background: rgb(220, 220, 220);
$text: rgb(58, 58, 58);
$link: rgba(0, 106, 177, 0.75);

$background-dark: rgb(20, 20, 20);
$text-dark: rgb(230, 230, 230);
$link-dark: rgba(0, 153, 255, 0.75);

$font-size: 18px;
$line-height: 22px;

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: $font-size;
}

body {
    user-select: none;
    height: 100%;
    width: 100%;

    overflow: hidden;

    font-family: "Montserrat", "Helvetica", "Verdana", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    width: 100%;
    background-color: $background;
    color: $text;

    .dark & {
        background-color: $background-dark;
        color: $text-dark;
    }
}

.app {
    position: relative;
    height: 100%;
    width: 100%;
}

.landing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgb(255, 190, 137); // Fallback
    background: linear-gradient(60deg, rgba(255, 116, 212, 1) 0%, rgba(255, 138, 95, 1) 100%);

    .background {
        position: absolute;
        animation: move_background 100s linear infinite;
        top: 0;
        right: -100vw;
        bottom: -100vh;
        left: 0;
        background-image: url("resources/background.svg");
        background-repeat: repeat;
        background-size: 50vw 50vw;

        @keyframes move_background {
            from {
                transform: translate(0, 0);
            }
            to {
                transform: translate(-100vw, -100vw);
            }
        }
    }

    .glass {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-radius: 20px;
        padding: 15% 5%;
        backdrop-filter: blur(6px);
        border: solid 2px transparent;
        background-clip: padding-box;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);

        .logo {
            width: 50%;
            z-index: 1;
            margin-bottom: 30%;
            animation: 3s infinite heartbeat;

            @keyframes heartbeat {
                0% {
                    transform: scale(1);
                }
                5% {
                    transform: scale(1.1);
                }
                10% {
                    transform: scale(1);
                }
                12% {
                    transform: scale(1);
                }
                17% {
                    transform: scale(1.1);
                }
                22% {
                    transform: scale(1);
                }
            }
        }

        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            z-index: 1;
            background: white;
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 8%;
            border-radius: 1000px;
            padding: 4%;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
        }

        .login {
            background: transparent;
            color: white;
            border: 1px solid white;
            margin-bottom: 5%;
        }
    }
}
